*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    background-color: aqua;
    border: 2px solid black;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin: 1rem 0;
}